

.well {
    padding: 16px 12px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin: 15px 0;
}

.well-lime {
    background: #CCF9BB;
    color: #333;
}

.well .header {
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 22px;
    margin-bottom:12px;
}

.sponsors {
    margin: 25px 0;
    color: #333;
}

.sponsors h3 {
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 22px;
    margin-bottom:12px;
}

.sponsors div {
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 16px;
    margin-bottom: 24px;
}